<div class="container">
  <h2>Login</h2>
    <p class="answer" ng-if="lc.message != ''">{{lc.message}}</p>
    <form>
      <div>
        <label for="email">Email:</label>
        <input type="text" ng-model="lc.user.email" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" ng-model="lc.user.password" />
      </div>
      <div>
        <md-button class="md-raised md-accent" ng-click="lc.login()">Login</md-button>
        <a href="#register">Not signed up?  Register</a>
      </div>
    </form>
</div>
