<div>
    <md-button class="md-raised md-primary" ng-click="qc.logout()">Log Out</md-button>
</div>
<div>
  <h1>stuff should be on this page in a div below...but it's not showing up</h1>
</div>
<div ng-repeat="item in qc.fiveData">
  <h2>{{item.question}}</h2>
    <p><button type="button" name="button">A</button>{{item.a}}</p>
    <p><button type="button" name="button">B</button>{{item.b}}</p>
    <p><button type="button" name="button">C</button>{{item.c}}</p>
    <p><button type="button" name="button">D</button>{{item.d}}</p>
    <p>This would be hidden: {{item.answer}}</p>
    <p>Learn More: {{item.source}} at {{item.page}}</p>
</div>
