<div class="container">
  <a href="#/user"><md-button id="mainbtn" class="md-raised md-accent">Main</md-button></a>
  <md-button id="logoutbtn" class="md-raised md-accent" ng-click="qc.logout()">Log Out</md-button>
  <span id="points">Points: {{qc.counter()}}</span>
</div>

<div ng-repeat="q in qc.fiveData" class="container">
  <div ng-if="qc.fiveData_index == $index">
    <h2>{{q.question}}</h2>
    <p><md-button type="button" ng-click="qc.check('A')" ng-disabled="qc.buttonDisabled" class="md-fab md-hue-1"> A </md-button>  {{q.a}}</p>
    <p><md-button type="button" ng-click="qc.check('B')" ng-disabled="qc.buttonDisabled" class="md-fab md-hue-1"> B </md-button>  {{q.b}}</p>
    <p><md-button type="button" ng-click="qc.check('C')" ng-disabled="qc.buttonDisabled" class="md-fab md-hue-1"> C </md-button>  {{q.c}}</p>
    <p><md-button type="button" ng-click="qc.check('D')" ng-disabled="qc.buttonDisabled" class="md-fab md-hue-1"> D </md-button>  {{q.d}}</p>
    <p><em>Need a Hint?</em>  Learn More in {{q.source}} at {{q.page}}.</p>
    <p ng-if="qc.showMessage===true" class="answer" ng-style="qc.message==='CORRECT!' && {'color':'green'}">{{qc.message}}</p>
    <md-button class="md-accent md-raised" ng-click="qc.next()">Continue</md-button>
  </div>
</div>
