<div ng-controller="UserController as uc" class="container">
  <h3 id="welcome">Welcome, {{uc.userName}}!</h3>
  <md-button ng-href="#/user" id="mainbtn" class="md-raised md-accent">Main</md-button>
  <md-button id="logoutbtn" class="md-raised md-warn" ng-click="uc.logout()">Log Out</md-button>
</div>

<div class="container">
  <h3 ng-if="!rc.toReview.length">{{rc.nothingtoreview}}</h3>
</div><br>

<div ng-show="rc.show" class="container" ng-repeat="x in rc.toReview">
  <div ng-if="rc.toReview_index == $index">
    <!-- <label for="question input">Question: </label><input type="text" name="question" value="{{x.question}}"> -->
    <h3>Question: {{x.question}}</h3>
    <p>A: {{x.a}}</p>
    <p>B: {{x.b}}</p>
    <p>C: {{x.c}}</p>
    <p>D: {{x.d}}</p>
    <p>Answer: {{x.answer}}</p>
    <p>Chapter: {{x.chapter}}</p>
    <p>Source: {{x.source}}</p>
    <p>Page: {{x.page}}.</p>
    <p>Tags: {{x.tags}}</p>
    <p ng-if="x.userEmail">Submitted by: {{x.userEmail}}</p>
    <p ng-if="rc.approveStatus===true" class="answer" ng-style="rc.approveMessage==='Question approved and saved in database.' && {'color':'green'}">{{rc.approveMessage}}</p>
    <p ng-if="rc.deleteStatus===true" class="answer" ng-style="rc.deleteMessage==='Question deleted from database.' && {'color':'green'}">{{rc.deleteMessage}}</p>
    <md-button ng-disabled="rc.clicked===true" class="md-accent md-raised" ng-click="rc.approve(x._id)">Approve</md-button>
    <md-button ng-disabled="rc.clicked===true" class="md-accent md-raised" ng-click="rc.delete(x._id)">Delete</md-button>
    <md-button class="md-accent md-raised" ng-click="rc.edit()">Edit</md-button>
    <md-button class="md-accent md-raised" ng-click="rc.next()">Next/Skip</md-button>
  </div>
</div><br>

<div ng-hide="rc.hide" class="flex-container container" ng-repeat="x in rc.toReview">
  <div ng-if="rc.toReview_index == $index">
    <form>
      <label for="question input">Question: </label><input class="reviewinput" type="text" value="{{x.question}}" ng-model="x.question"></input>
      <label for="choice a">A: </label><input class="reviewinput" type="text" value="{{x.a}}" ng-model="x.a"></input>
      <label for="choice b">B: </label><input class="reviewinput" type="text" value="{{x.b}}" ng-model="x.b"></input>
      <label for="choice c">C: </label><input class="reviewinput" type="text" value="{{x.c}}" ng-model="x.c"></input>
      <label for="choice d">D: </label><input class="reviewinput" type="text" value="{{x.d}}" ng-model="x.d"></input>
      <label for="answer">Answer: </label><input class="reviewinput" type="text" value="{{x.answer}}" ng-model="x.answer"></input>
      <label for="chapter">Chapter: </label><input class="reviewinput" type="number" value="{{x.chapter}}" ng-model="x.chapter"></input>
      <label for="source">Source: </label><input class="reviewinput" type="text" value="{{x.source}}" ng-model="x.source"></input>
      <label for="page">Page: </label><input class="reviewinput" type="number" value="{{x.page}}" ng-model="x.page"></input>
      <label for="tags">Tags: </label><input class="reviewinput" type="text" value="{{x.tags[0]}}" ng-model="x.tags[0]"></input>
      <label for="tags">Tags: </label><input class="reviewinput" type="text" value="{{x.tags[1]}}" ng-model="x.tags[1]"></input>
      <label for="tags">Tags: </label><input class="reviewinput" type="text" value="{{x.tags[2]}}" ng-model="x.tags[2]"></input>

    </form>
    <br>
    <p class="currentTags">Current Tags: Alcohol, Baking, Bread, Cake, Carbohydrates, Cereal & Batters, Chemistry, Coffee, Cooking,
        Desserts, Eggs, Emulsions, Energy, Fermentation, Fish & Shellfish, Flour, Food Science, Fruits & Vegetables, Heat Transfer,
        History, Lipids, Measurement, Meat, Milk, Molecules, Nutrition, Phases, Preservation, Proteins, Sauces, Science,
        Seeds, Vinegar, Water, Yeast, pH</p>
    <md-button class="md-accent md-raised" id="savebtn" ng-click="rc.save(x)">Save</md-button>
    <md-button class="md-accent md-raised" id="cancelbtn" ng-click="rc.cancel()">Cancel</md-button>
  </div>
</div>
