<div class="container">
    <h1>Welcome, {{uc.userName}}!</h1>
    <md-button class="md-raised md-primary" ng-click="uc.logout()">Log Out</md-button>
</div>
<br>
<hr>
<br>
<div>
  <h3>Get started!</h3>
  <p>Select a chapter or choose a topic.  You will get five questions to test your Science of Food and Cooking knowledge.  Each question will have a chapter and page # if you want to learn more.</p>
</div>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <a href="#/quiz/1"><md-button class="md-raised md-primary">Chapter 1: Milk and Dairy Products</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(2)">Chapter 2: Eggs</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(3)">Chapter 3: Meat</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(4)">Chapter 4: Fish and Shellfish</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(5)">Chapter 5: Edible Plants: An Introduction to Fruits and Vegetables, Herbs and Spices</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(6)">Chapter 6: A Survey of Common Vegetables</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(7)">Chapter 7: A Survey of Common Fruits</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(8)">Chapter 8: Flavorings from Plants: Herbs and Spices, Tea and Coffee</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(9)">Chapter 9: Seeds: Grains, Legumes and Nuts</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(10)">Chapter 10: Cereal Doughs and Batters: Bread, Cakes, Pastry, Pasta</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(11)">Chapter 11: Sauces</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(12)">Chapter 12: Sugars, Chocolate and Confectionary</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(13)">Chapter 13: Wine, Beer and Distilled Spirits</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(14)">Chapter 14: Cooking Methods and Utensil Materials</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(15)">Chapter 15: The Four Basic Food Molecules</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(16)">Appendix</md-button></a>
    <a href="#/quiz"><md-button class="md-raised md-primary" ng-click="uc.getQuestions(17)">Measurement</md-button></a>
  </section>

<!-- https://stackoverflow.com/questions/30562262/angularjs-display-one-specific-object-in-an-array-at-a-time -->
  <!-- <div ng-repeat="quizQ in uc.fiveData">
    <button type="button" ng-click="setSelectedItem(quizQ)">Show Question</button>

      <div ng-show="selectedItem == quizQ">
           <h1>{{quizQ.question}}</h1>
          <p>A: {{quizQ.a}}</p>
      </div>
  </div> -->



  <!-- i want this on a separate page! -->
  <!-- <div ng-repeat="item in uc.fiveData">
    <h2>{{item.question}}</h2>
      <p><button type="button" name="button">A</button>{{item.a}}</p>
      <p><button type="button" name="button">B</button>{{item.b}}</p>
      <p><button type="button" name="button">C</button>{{item.c}}</p>
      <p><button type="button" name="button">D</button>{{item.d}}</p>
      <p>This would be hidden until selection is made...Answer: {{item.answer}}</p>
      <p>Learn More: {{item.source}} on page {{item.page}}</p>
  </div> -->

<!-- i don't think this is the route to go -->
<!-- <h2>{{uc.quizQs.question}}</h2>
<p><button type="button" name="button">A</button>{{uc.quizQs.a}}</p>
<p><button type="button" name="button">B</button>{{uc.quizQs.b}}</p>
<p><button type="button" name="button">C</button>{{uc.quizQs.c}}</p>
<p><button type="button" name="button">D</button>{{uc.quizQs.d}}</p>
<p>This would be hidden until selection is made...Answer: {{uc.quizQs.answer}}</p>
<p>Learn More: {{uc.quizQs.source}} on page {{uc.quizQs.page}}</p>
<button type="button" name="button" ng-click="uc.setNextQuestion()">Next Question</button> -->
