<div class="container">
    <h1>Welcome, {{uc.userName}}!</h1>
    <md-button class="md-raised md-primary" ng-click="uc.logout()">Log Out</md-button>
</div>
<br>
<hr>
<br>
<div>
  <h3>Get started!</h3>
  <p>Select a chapter or choose a topic.  You will get five questions to test your Science of Food and Cooking knowledge.  Each question will have a chapter and page # if you want to learn more.</p>
</div>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(i)">Intro: Cooking and Science, 1984, 2004</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(1)">Chapter 1: Milk and Dairy Products</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(2)">Chapter 2: Eggs</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(3)">Chapter 3: Meat</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(4)">Chapter 4: Fish and Shellfish</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(5)">Chapter 5: Edible Plants: An Introduction to Fruits and Vegetables, Herbs and Spices</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(6)">Chapter 6: A Survey of Common Vegetables</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(7)">Chapter 7: A Survey of Common Fruits</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(8)">Chapter 8: Flavorings from Plants: Herbs and Spices, Tea and Coffee</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(9)">Chapter 9: Seeds: Grains, Legumes and Nuts</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(10)">Chapter 10: Cereal Doughs and Batters: Bread, Cakes, Pastry, Pasta</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(11)">Chapter 11: Sauces</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(12)">Chapter 12: Sugars, Chocolate and Confectionary</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(13)">Chapter 13: Wine, Beer and Distilled Spirits</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(14)">Chapter 14: Cooking Methods and Utensil Materials</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(15)">Chapter 15: The Four Basic Food Molecules</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(a)">Appendix</md-button>
    <md-button class="md-raised md-primary" ng-click="uc.getQuestions(m)">Measurement</md-button>
  </section>


<!-- <p>Intro: Cooking and Science, 1984, 2004</p>
<p>Chapter 1: Milk and Dairy Products</p>
<p>Chapter 2: Eggs</p>
<p>Chapter 3: Meat</p>
<p>Chapter 4: Fish and Shellfish</p>
<p>Chapter 5: Edible Plants: An Introduction to Fruits and Vegetables, Herbs and Spices</p>
<p>Chapter 6: A Survey of Common Vegetables</p>
<p>Chapter 7: A Survey of Common Fruits</p>
<p>Chapter 8: Flavorings from Plants: Herbs and Spices, Tea and Coffee</p>
<p>Chapter 9: Seeds: Grains, Legumes and Nuts</p>
<p>Chapter 10: Cereal Doughs and Batters: Bread, Cakes, Pastry, Pasta</p>
<p>Chapter 11: Sauces</p>
<p>Chapter 12: Sugars, Chocolate and Confectionary</p>
<p>Chapter 13: Wine, Beer and Distilled Spirits</p>
<p>Chapter 14: Cooking Methods and Utensil Materials</p>
<p>Chapter 15: The Four Basic Food Molecules</p>
<p>Appendix</p>
<p>M (not sure what this is)</p> -->
