/*
augsburg color: #650a34
*/

#header{
  background-image: url('tomatoes.jpg');
  background-repeat: no-repeat;
  height: 250px;
  background-position: center;
  background-size: cover;
}

#error{
  color: red;
  font-weight: bold;
}

#logoutbtn{
  display: inline;
  margin-left: 25px;
}
h1,h2,h3{

  font-family: 'Candal', sans-serif;
}

body{
  font-family: 'Oswald', sans-serif;
}

#points{
  margin-left: 25px;
}

#welcome{
  display: inline;
}

.instructions .container h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

label{
  display: inline-block;
  float: left;
  clear: left;
  width: 80px;
  text-align: left;
  margin-bottom: 5px;
}

input {
  display: inline-block;
  float: left;
  width: 250px;
}

.instructions {
    height: 100px;
}

.answer {
  color: red;
  font-weight: bold;
  font-size: 36px;
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container{
  margin: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}
