body{
  font-family: 'Oswald', sans-serif;
}

h1,h2,h3{
  font-family: 'Candal', sans-serif;
}

#hire {
  margin-top: 75px;
  font-style: italic;
  color: purple;
}

.container{
  margin: 10px;
}

.container p{
  margin-top : 15px;
}

label.submit{
  text-align: right;
  margin-right: 10px;
}

label{
  display: inline-block;
  float: left;
  clear: left;
  width: 80px;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

input{
  display: inline-block;
  float: left;
  width: 250px;
}

input.submitinput{
  width: 80%;
}

input.reviewinput{
  width: 80%;
}

.currentTags{
  float: left;
}

.answer{
  color: red;
  font-weight: bold;
  font-size: 36px;
}

.green{
  color:green;
  font-size: 36px;
  font-weight: bold;
}

.savebtn{
  margin-left: 10px;
  float: left;
}

.cancelbtn{
  display: inline;
  float: left;
  margin-left: 25px;
}

.logoutbtn{
  display: inline;
  margin-left: 25px;
}

.points{
  margin-left: 25px;
}

#header{
  background-image: url('tomatoes.jpg');
  background-repeat: no-repeat;
  height: 250px;
  background-position: center;
  background-size: cover;
}

#hint{
  font-size: 20px;
}

#error{
  color: red;
  font-weight: bold;
}

#instructions{
  font-weight: bold;
}

#welcome{
  display: inline;
}
